{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if request.session.theme == 'dark' %}
    <link rel="stylesheet" href="{% static 'dark.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'app_styles.css' %}">
    {% endif %}
    <title>Django blog</title>
</head>
<body>
    <header>
    <div class="nav-left">
        <h1><a href="{% url 'home' %}">Django Blog</a></h1>
    </div>
    <div class="nav-right">
        <h1><a href="{% url 'post_new' %}">+ New Blog Post</a></h1>
    </div>
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}"> Log out</a></p>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'account_login' %}">Log In</a>
        <a href="{% url 'account_signup' %}">Sign Up</a>
    {% endif %}
    <a href="{% url 'toggle_theme' %}">Toggle Theme</a>
    </header>

    {%block content%}
    {%endblock content%}
    
</body>
</html>